.nav_tab
{
    border-bottom: 1px solid #ddd;
	margin-left: 0;
	list-style: none;
	padding-left: 0;
	padding-bottom: 7px;
	margin-top: 0px;
}
.nav_tab > li
{
	margin-bottom:-1px;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: 2px;
	padding-top: 6px;
	padding-bottom: 6px;
	line-height: 20px;
	border: 1px solid transparent;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	display: inline;
	color:#555;
	cursor:pointer;
}
.nav_tab>.actives, .nav_tab>.actives:hover, .nav_tab>.actives:focus {
	color: #029ADA;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}

/*.clear {
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}*/